{{/* Reading image data directly from "/img" folder */}}
{{ with readFile .Destination | resources.FromString .Destination }}
  {{ $img := . }}

  {{/* If the file is an svg, include it directly in */}}
  {{ if eq $img.MediaType.SubType "svg" }}
  <img
    src="{{ $.Destination | safeURL }}"
    alt="{{ $.Text }}"
    {{ with $.Title }}
      title="{{ . }}"
    {{ end }}
  />
  {{ end }}

  {{/* If file is a Raster Image, add the width & height attributes */}}
  {{ if ne $img.MediaType.SubType "svg" }}
    <img
      src="{{ $.Destination | safeURL }}"
      width="{{ $img.Width }}"
      height="{{ $img.Height }}"
      class="post-img"
      alt="{{ $.Text }}"
      {{ with .Title }}
        title="{{ . }}"
      {{ end }}
    />
  {{ end }}
{{ else }}
  {{/* If Reading image data directly fails, use default render hook */}}
  <img
    src="{{ $.Destination | safeURL }}"
    alt="{{ $.Text }}"
    {{ with $.Title }}
      title="{{ . }}"
    {{ end }}
  />
{{ end }}
