/* stylelint-disable selector-class-pattern */
.card {
  position: relative;
  border: solid 1px var(--tw-og-border);
  border-radius: var(--tw-border-radius);
  overflow: clip;

  img {
    border-radius: unset;
  }

  .card-content {
    padding: 1rem;
    font-size: 1rem;

    a {
      color: unset;
    }
    p {
      margin: unset;
    }

    .title {
      color: var(--tw-text);
    }

    .vanity-url,
    .description {
      color: var(--tw-txt-2);
    }

    // Truncate text
    .vanity-url,
    .title,
    .description {
      /* stylelint-disable-next-line value-no-vendor-prefix */
      display: -webkit-box;
      -webkit-box-orient: vertical;
      word-break: none;
      overflow: hidden;
      hyphens: auto;
      text-align: left;
    }

    .title,
    .vanity-url {
      -webkit-line-clamp: 1;
    }

    .title-2,
    .description {
      -webkit-line-clamp: 2;
    }

    .title > a {
      text-decoration: none;
    }
  }
}

.tweet .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-large {
  display: flex;
  flex-direction: column;

  picture {
    display: contents;
  }

  img {
    object-fit: cover;
    border-bottom: solid 1px var(--tw-og-border);
  }
}

.card-small {
  display: grid;
  grid-template-columns: 130px 1fr;

  picture {
    height: 130px;
  }

  img {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-right: solid 1px var(--tw-og-border);
  }
}

.card-small .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
  background-color: var(--tw-og-hover);
}

// Fallback Card
.card-no-image {
  aspect-ratio: 1/1;
  background-color: var(--tw-og-no-img);
  display: grid;
  place-items: center;
  border-right: solid 1px var(--tw-og-border);
  height: 100%;

  svg {
    height: 32px;
    width: 32px;
    color: var(--tw-og-document);
  }
}

.spaces-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 8px;
  background-image: linear-gradient(60deg, #35f -15%, #73f 100%);
  color: white;

  .spaces-meta {
    display: flex;
    font-size: 1rem;
  }

  .spaces-title {
    color: white;
    font-weight: 600;
    font-size: 20px;
  }

  .spaces-btn {
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    border-radius: 3rem;
    color: white;
    background-color: #fff4;
  }

  .spaces-btn:hover {
    background-color: #1114;
  }

  .spaces-date {
    font-weight: bold;
  }
}

.spaces-card.unavailable {
  background-image: linear-gradient(60deg, #1f2e7a -15%, #3d1f7a 100%);
}
