// Cards
// Photos
// 1. Global Styles
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
  overflow: clip;
  border-radius: var(--tw-border-radius);
  outline: solid 1px var(--border);
}
.gallery img {
  border-radius: unset;
  object-fit: cover;
  margin: unset;
  padding: unset;
}

.gallery picture {
  object-position: center center;
}

// Shared styles
.gallery-2 img,
.gallery-3 img:nth-child(1) img {
  aspect-ratio: 16/18;
}

.gallery-3 :first-child,
.gallery-2 picture {
  grid-row: span 2;
}

// Specific Styles
// 1 Image
.gallery-1 {
  display: block;
  width: 100%;
  outline: unset;
  picture {
    max-height: 640px;
    display: grid;
    // Makes
    margin-bottom: 2px;
  }
  img {
    height: 100%;
    outline: unset;
    object-fit: contain;
  }
}

// 2 Images
.gallery-2 {
  img {
    height: 100%;
    grid-row: span 2;
    aspect-ratio: 16/18;
  }
}

// 3 Images
.gallery-3 {
  img {
    object-position: cover;
    aspect-ratio: 16/9;
    height: 100%;
    width: 100%;
  }
}

// 4 Images
.gallery-4 picture {
  max-height: 180px;
  img {
    height: 100%;
  }
}

.gallery-4 img {
  aspect-ratio: 16 / 9;
}
