// Cards
// Photos
// 1. Global Styles
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
  overflow: clip;
  border-radius: var(--tw-border-radius);
  outline: solid 1px var(--tw-border);
}

.gallery img {
  border-radius: unset;
  display: block;
  object-fit: cover;
}

.gallery picture {
  object-position: center center;
}

// Specific Styles
// 1 Image
.gallery-1 {
  display: block;

  img {
    width: 100%;
    height: auto;
    max-height: 640px;
    display: block;
    object-fit: contain;
  }
}

// 2 Images
.gallery-2 {
  img {
    aspect-ratio: 16/18;
    height: 100%;
    grid-row: span 2;
    aspect-ratio: 16/18;
  }
}

.gallery-2 picture,
.gallery-3 :first-child {
  grid-row: span 2;
}

// 3 Images
.gallery-3 {
  picture>img {
    aspect-ratio: 16/9;
  }

  picture:first-child {
    height: 100%;

    img {
      height: 100%;
      object-fit: cover;
      aspect-ratio: 16/18;
    }
  }
}

// 4 Images
.gallery-4 picture {
  max-height: 180px;

  img {
    height: 100%;
  }
}

.gallery-4 img {
  aspect-ratio: 16 / 9;
}