// Cards
// Photos
// 1. Global Styles
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
  overflow: clip;
  border-radius: var(--tw-border-radius);
  outline: solid 1px var(--border);
}

.gallery img {
  border-radius: unset;
  object-fit: cover;
}

// Specific Styles
// 1 Image

.gallery-1 {
  display: contents;
  img {
    outline: solid 1px var(--border);
    width: 100%;
    height: auto;
    max-height: 640px;
    object-fit: contain;
    object-position: left;
  }
}
// 2 Images
.gallery-2 img {
  grid-row: span 2;
}

.gallery-3 img {
  object-fit: cover;
}

.gallery-3 :nth-child(1),
.gallery-2 img {
  grid-row: span 2;
  max-height: 100%;
}

.gallery-4 img {
  max-height: 180px;
}

@supports (aspect-ratio: 16/9) {
  .gallery-2 img,
  .gallery-3 :nth-child(1) {
    aspect-ratio: 16/18;
  }

  .gallery-4 img,
  .gallery-3 img {
    aspect-ratio: 16 / 9;
  }
}
