.poll-container {
  position: relative;
  color: var(--tw-text);
  width: 100%;
  height: 36px;
  margin: 8px 0;
}

.progress-container-text {
  // Fill up entire container
  position: absolute;
  inset: 0;

  // Space items
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.progress-bar {
  height: 100%;
  border-radius: var(--tw-poll-radius);
  background-color: var(--tw-poll-bar);
}

.win {
  font-weight: bold;
  font-weight: 700;
}

.win-bar {
  z-index: 0;
  background-color: var(--tw-poll-bar-win);
}

.total {
  color: var(--tw-txt-2);
  font-size: 1rem;
}
