@import "cards";
@import "gallery";
@import "polls";
@import "quote";
@import "vars";

// Coloring
.tweet {
  color: var(--tw-text);
  background-color: var(--tw-bg);
  outline: solid 1px var(--tw-border);
  padding: 1rem;
  margin: 1rem 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: var(--tw-border-radius);
}

.emoji {
  height: 1.3em;
  width: 1.3em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

// Top Section
.userInfo {
  display: flex;
  // Vertical align
  align-items: center;
  // Space between image and username
  gap: 8px;
  margin-bottom: -8px;
}

.userInfo div {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.profilePhoto {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

a.userName {
  display: flex;
  align-items: center;
  font-weight: 500;
  // Remove default <a> styles
  text-decoration: none;
  color: var(--tw-text);
}
.userName:hover {
  text-decoration: underline;
}

.tw-name {
  display: inline;
}
.screenName {
  color: var(--tw-text-secondary);
  font-size: 16px;
  overflow-x: clip;
}

.checkmark {
  margin-left: 4px;
  width: 18px;
}
.checkmark > svg {
  color: var(--tw-checkmark);
}
.fullText {
  margin: 0px;
  padding: 0px;
  white-space: pre-wrap;
}
.fullText a {
  color: var(--tw-accent-text);
  text-decoration: none;
}
.fullText a:hover {
  text-decoration: underline;
}

.meta {
  display: flex;
  flex-direction: row;
  align-content: center;
  font-size: 1rem;
  gap: 8px;
}

.meta a {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: unset;
}

.meta a svg {
  color: unset;
  border-radius: 100%;
  padding: 4px;
  width: 24px;
  height: max-content;
}

// Likes
.meta .likes {
  color: var(--tw-likes-text);
  background-color: var(--tw-likes-bg);
}

.likes:hover {
  color: var(--tw-likes-text-hover);
}

.likes:hover svg {
  background: var(--tw-likes-bg-hover);
}

.link {
  color: var(--tw-link-text);
  background: var(--tw-link-bg);
}

.link:hover {
  color: var(--tw-link-text-hover);
}

.link:hover svg {
  background: var(--tw-link-bg-hover);
}

video {
  width: 100%;
  border-radius: var(--tw-border-radius);
}

a.tw-date {
  font-size: 1rem;
  color: var(--tw-text-secondary);
  text-decoration: unset;
}

a.tw-date:hover {
  text-decoration: underline;
}

.text-secondary {
  color: var(--tw-text-secondary);
}

.tweet video {
  object-fit: cover;
}
