@import "../colors";

:root {
  --tw-border-radius: 8px;
  --tw-poll-radius: 6px;
  --profile-pic-width: 45px;
}

.dark {
  --tw-text: white;
  --tw-checkmark: white;
  --tw-txt-2: #{$neutral-400};
  --tw-bg: #000;
  --tw-border: #{$neutral-800};
  --tw-likes-bg-hover: #{$red-800}40;
  --tw-likes-text-hover: #f64b5c;
  --tw-link-bg-hover: #{$blue-800}40;
  --tw-link-text: #{$blue-400};
  --tw-link-text-hover: #{$blue-400};
  --tw-og-border: #{$neutral-800};
  --tw-og-document: #{$neutral-300};
  --tw-og-hover: #{$neutral-800}90;
  --tw-og-no-img: #{$neutral-900};
  --tw-poll-bar-win: #{$blue-900};
  --tw-poll-bar: #{$neutral-700}90;
}

.light {
  --tw-text: #{$gray-900};
  --tw-txt-2: #{$gray-900};
  --tw-bg: white;
  --tw-border: #{$gray-200};
  --tw-checkmark: #{$blue-500};
  --tw-link-text: #{$blue-500};
  --tw-link-text-hover: #{$blue-500};
  --tw-likes-text-hover: #{$red-500};
  --tw-likes-bg-hover: #{$red-200}60;
  --tw-link-bg-hover: #{$blue-200}60;
  --tw-og-border: #{$gray-900};
  --tw-og-document: #{$gray-600};
  --tw-og-hover: #{$gray-100}50;
  --tw-og-no-img: #{$gray-900};
  --tw-poll-bar-win: #{$blue-700};
  --tw-poll-bar: #{$gray-900};
}
