<footer class="footer">
  <!-- <a class="footer_item" href="/thanks">ack.</a> -->
  <!-- <a class="footer_item" href="/resume">resume</a> -->
  <a class="footer_item" href="/feed.xml">rss</a>
  <span class="footer_item">&copy; {{ site.time | date: "%Y" }}</span>
  <small class="footer_theme-copyright">
    <!-- Klisé Theme: https://github.com/piharpi/jekyll-klise -->

  </small>
</footer>
<script src="/assets/js/main.js" defer="defer"></script>

