<!--  Quoted Tweet  -->
{{ if .quoted_tweet }}
  {{ with .quoted_tweet }}
  <!-- Tweet container -->
  <article lang="{{.lang}}" class="tweet quoted" >
    <div class="profile-pic">
      {{ $profilePic := replace .user.profile_image_url_https "_normal" "_mini" }}
      <img class="profilePhoto" loading="lazy" src={{$profilePic}} /> 
    </div>
  
    <div class="user-info">
      <!-- Profile Pic -->
      <!-- Use smallest image for profile pic in quote tweet -->
      <!-- TODO: If user is quoting themselves, skip & reuse the same image -->
      <!-- UserName -->
      <a target="_blank" rel="noopener noreferrer" class="name" href={{$userUrl}}>
            <span>{{ .user.name }}</span>
            <!-- Checkmark -->
            {{- if .user.verified -}}
            <span class="checkmark">
              {{ partial "inline-svg" "twitter/checkmark"}}
            </span>
              {{- end -}}
          </a>
          <!-- Screen Name -->
          <span class="screenName">@<span>{{.user.screen_name}}</span>
        </span>
    </div>
    <div class="content">
    <p class="text"> {{- $text | safeHTML -}} </p>
    {{ if .photos }}
      {{ $photosCount := len .photos }}
      <div style="overflow: visible" class="gallery gallery-{{$photosCount}}">
        {{ range .photos }}
          <img 
            loading="lazy"
            src="{{.url}}:small"
            width="{{.width}}"
            height="{{.height}}"
            style="aspect-ratio: {{.width}}/{{.height}};"
        
            {{if .accessibilityLabel}}
            alt='{{.accessibilityLabel}}'
            {{end}}
          />
        {{ end }}
        </div>
    {{ end }}
     <!-- Videos & Gifs -->
     {{ if .video }}
       <section style="font-size: small;">
         <!-- Gif -->
         {{ if eq .video.contentType "gif"}}
           {{$gif := ""}}
           {{ range .video.variants }}
             {{ $gif = resources.GetRemote .src }}
           {{ end }}
           {{ $width  := (index .video.aspectRatio 0) }}
           {{ $height := (index .video.aspectRatio 1) }}
           <!-- Gifs are mp4 videos -->
           <video 
             src="{{$gif.RelPermalink}}"
             width="{{ $width }}"
             height="{{ $height }}"
             style="aspect-ratio: {{$width}}/{{$height}}; height: auto;"
             autoplay
             loop
             muted
             playsinline
           >
           </video>
         {{ end }}
         <!-- Video -->
         <!-- TODO: More quality options. currently ignores anything with width >999 -->
         {{ if eq .video.contentType "media_entity" }}
         {{ $src := "" }}  
           {{ range sort .video.variants "src" }}
             {{ if (eq .type "video/mp4") }}
               {{ $src = .src }}
             {{ end }}
           {{ end }}
           {{ $width  := (index .video.aspectRatio 0) }}
           {{ $height := (index .video.aspectRatio 1) }}
         
           <video 
             src="{{$src}}"
             width="500px"
             height="200px"
             preload="none"
             style="aspect-ratio: {{$width}}/{{$height}}; height: auto;"
             controls
             poster="{{.video.poster}}"
           ></video>
         {{ end }}
       </section>
       {{ end }}
       <!-- End Videos & Gifs -->
    </article>
    {{ end }}
  {{ end }}