{{- $width  := (index .video.aspectRatio 0) -}}
{{- $height := (index .video.aspectRatio 1) -}}
{{- $style := printf "aspect-ratio: %s / %s; height: auto" $width $height -}}

{{/*  Gif Video  */}}
{{- if eq .video.contentType "gif" -}}
  {{- range .video.variants -}}
    {{- $src := resources.GetRemote .src -}}
    <video 
      src="{{ $src.RelPermalink }}"
      width="{{ $width }}"
      height="{{ $height }}"
      style='{{ $style }}'
      autoplay
      loop
      muted
      playsinline
    ></video>
  {{- end -}}
{{- end -}}

{{/*  Real Video  */}}
{{ if eq .video.contentType "media_entity" }}
  <video
    style="{{$style}}"
    width="{{ $width }}"
    height="{{ $height }}"
    preload="metadata"
    controls
    poster="{{.video.poster}}"
  >
  {{ range sort .video.variants "src" }}
    {{ if (eq .type "video/mp4") }}
      {{ $quality := index 0 (findRE "`/\d{3,4}x\d{3,4}/" .src) }}
    {{ $quality}}
      {{ else }}
      {{/*  Non MP4 sources  */}}
      <source src="{{.src}}" type="{{.type}}">
    {{ end }}
  {{ end }}
  </video>
{{ end }}