@import "../colors/chakra";

$gray-050: $Gray-050;
$gray-100: $Gray-100;
$gray-200: $Gray-200;
$gray-300: $Gray-300;
$gray-400: $Gray-400;
$gray-500: $Gray-500;
$gray-600: $Gray-600;
$gray-700: $Gray-700;
$gray-800: $Gray-800;
$gray-900: $Gray-900;

// Purple
$accent-050: $Purple-050;
$accent-100: $Purple-100;
$accent-200: $Purple-200;
$accent-300: $Purple-300;
$accent-400: $Purple-400;
$accent-500: $Purple-500;
$accent-600: $Purple-600;
$accent-700: $Purple-700;
$accent-800: $Purple-800;
$accent-900: $Purple-900;
