.tweet {
  /* Coloring */
  color: var(--tw-text);
  background-color: var(--tw-bg);
  outline: solid 1px var(--tw-border);

  padding: 1rem;
  margin: 1rem 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: var(--tw-border-radius);
}

/* Top Section */
.userInfo {
  display: flex;
  /* Vertical align */
  align-items: center;
  /* Space between image and username */
  gap: 8px;
  margin-bottom: -8px;
}

.userInfo div {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.profilePhoto {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.userName {
  display: flex;
  align-items: center;
  font-weight: 500;
  /* Remove default <a> styles */
  text-decoration: none !important;
  color: var(--tw-text) !important;
}
.userName:hover {
  text-decoration: underline !important;
}

.tw-name {
  display: inline;
}
.screenName {
  color: var(--tw-text-secondary);
  font-size: 16px;
  overflow-x: clip;
}

.checkmark {
  margin-left: 4px;
  width: 18px;
  color: var(--tw-checkmark);
}

.fullText {
  margin: 0px;
  padding: 0px;
  white-space: pre-wrap;
  line-height: var(--tw-font-lineheight-2);
}
.fullText a {
  color: var(--tw-accent-text);
  text-decoration: none;
}
.fullText a:hover {
  text-decoration: underline;
}

.meta {
  display: flex;
  flex-direction: row;
  align-content: center;
  font-size: 1rem;
  gap: 8px;
}

.meta a {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  color: var(--tw-text-secondary);
  text-decoration: none;
  gap: 4px;
}

.meta a:hover {
  text-decoration: underline;
}

.meta a svg {
  color: unset;
  border-radius: 100%;
  padding: 4px;
  width: 24px;
  height: max-content;
}

/* Likes */
.likes {
  color: var(--tw-likes-text);
  background-color: var(--tw-likes-bg);
}

.likes:hover {
  color: var(--tw-likes-text-hover);
}

.likes:hover svg {
  background: var(--tw-likes-bg-hover);
}

.link {
  color: var(--tw-link-text);
  background: var(--tw-link-bg);
}

.link:hover {
  color: var(--tw-link-text-hover);
}

.link:hover svg {
  background: var(--tw-link-bg-hover);
}

/* Cards */
/* Photos */
/* 1. Global Styles */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
  overflow: clip;
  border-radius: var(--tw-border-radius);
}
.gallery img {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  width: 100%;
  object-fit: cover;
}

/* Specific Styles */
/* 1 Image */
.gallery-1 img {
  grid-row: span 2;
  grid-column: span 2;
}

/* 2 Images */
.gallery-2 img {
  grid-row: span 2;
}

/* 3 Images */
.gallery-3 {
  max-height: 512px;
}
.gallery-3 > img {
  height: 100%;
  max-height: 250px;
  aspect-ratio: 16/9;
}

.gallery-3 :nth-child(1) {
  grid-row: span 2;
  max-height: 100%;
}

/* 4 Images  */

.gallery-4 img {
  /* max-width: 320px; */
  max-height: 180px;
  aspect-ratio: 16 / 9;
}

video {
  width: 100%;
  border-radius: var(--tw-border-radius);
}

.poll_container {
  position: relative;
  width: 100%;
  height: 36px;
  margin: 8px 0px;
}

.progress_container_text {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}

.progress_container_text_align_center {
  font-size: 1rem;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
}

.progress_bar {
  height: 100%;
  border-radius: var(--tw-border-radius);
  background-color: var(--tw-poll-bar);
}

.win {
  font-weight: bold;
  font-weight: 500;
}

.win_bar {
  background-color: var(--tw-poll-bar-win);
}

.text-secondary {
  color: var(--tw-text-secondary);
}

.tw-date {
  font-size: 1rem;
  color: var(--text-secondary) !important;
  text-decoration: unset !important;
}
