// Moon/Sun button to toggle Dark mode
#toggle {
  all: unset;
  width: 1.5rem;
  justify-self: end;
}

#toggle:active {
  transform: rotate(30deg);
  transition: all 0.3s;
}

html {
  transition: var(--transition);
}

// Globals
body {
  color: var(--text);
  background-color: var(--bg);
  font-family: var(--sans-font);
  font-size: 18px;
}

// Make the main element a nice central block
main {
  margin: auto;
  max-width: 40rem;
  padding: 4px;
  overflow: hidden;
  line-height: 1.7;
}

// Navbar container
header {
  display: grid;
  grid-template-columns: auto auto;
  margin: 2rem auto 1rem auto;
  padding: 0 4px;
  max-width: 40rem;
}

.site-name {
  color: var(--headers);
  font-size: 36px;
}

.social {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.social a {
  transition: var(--transition);
  border-bottom: solid 2px transparent;
}

.social a:hover {
  border-bottom: solid 2px var(--accent);
}

article {
  margin: 1rem 0;
}

svg {
  color: var(--headers);
}

// Remove all styling from Links
a {
  color: unset;
  text-decoration: unset;
}

p code {
  padding: 4px 8px;
  background-color: var(--code-bg);
  color: var(--headers);
  border-radius: 4px;
  // outline: solid 1px var(--code-border);
}

.post a {
  text-decoration: underline;
  color: var(--accent);
}

.post a:visited {
  color: var(--link-visited);
}

//Prose
// Headers
h1,
h2,
h3,
h4,
h5 {
  color: var(--headers);
  margin: 0;
  font-weight: 600;
  font-family: var(--sans-font);
}

blockquote {
  margin: 1.5rem 0;
  padding: 1rem;

  font-style: italic;
  background-color: var(--code-bg);
  border-left: var(--accent) 6px solid;
  border-radius: 6px;

  p {
    margin: unset;
  }
}

blockquote p:first-of-type::before {
  content: open-quote;
}

blockquote p:last-of-type::after {
  content: close-quote;
}

.post :is(h1, h2, h3, h4, h5, h6) {
  margin: 1rem 0;
}

//Images
img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1rem;
  line-height: 1.7;
}

// Space For Footer
.post {
  margin-bottom: 1rem;
}

.date {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text);
  font-size: 0.8rem;
}

article a h2 {
  color: var(--headers);
}

article p {
  color: var(--text);
  margin: 0;
}

h1.title {
  color: var(--headers);
}

footer {
  margin: auto;
  padding: 2rem 1rem;
  max-width: 40rem;
}