@import "colors";

p code {
  border: solid 1px var(--code-border);
}

pre code {
  display: block;
  z-index: 1;
  font-size: 1rem;
  font-family: monospace;
  color: var(--headers);
}

.hl {
  margin: 0 -18px;
  padding: 0 18px;
}

.highlight .chroma,
pre {
  padding: 8px 1rem;
  max-width: 100%;
  border-radius: 8px;
  border: solid 1px var(--code-border);
  overflow-x: auto;
  background: var(--code-bg);
}

.dark .chroma {
  // Background
  .bg {
    color: #f8f8f2;
    background-color: var(--code-bg);
  }

  // Error
  .err {
    color: #960050;
    background-color: #1e0010;
  }

  // LineTableTD
  .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }

  // LineTable
  .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  // LineHighlight
  .hl {
    background-color: #{$blue-900}30;
  }

  // LineNumbersTable
  .lnt {
    white-space: pre;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em;
    color: #7f7f7f;
  }

  // Line
  .line {
    display: flex;
  }

  // Keyword
  .k {
    color: #9cd1bb;
  }

  // KeywordConstant
  .kc {
    color: #9cd1bb;
  }

  // KeywordDeclaration
  .kd {
    color: #9cd1bb;
  }

  // KeywordNamespace
  .kn {
    color: #ff657a;
  }

  // KeywordPseudo
  .kp {
    color: #9cd1bb;
  }

  // KeywordReserved
  .kr {
    color: #9cd1bb;
  }

  // KeywordType
  .kt {
    color: #9cd1bb;
  }

  // NameAttribute
  .na {
    color: #bad761;
  }

  // NameClass
  .nc {
    color: #bad761;
  }

  // NameConstant
  .no {
    color: #9cd1bb;
  }

  // NameDecorator
  .nd {
    color: #bad761;
  }

  // NameException
  .ne {
    color: #bad761;
  }

  // NameFunction
  .nf {
    color: #bad761;
  }

  // NameOther
  .nx {
    color: #bad761;
  }

  // NameTag
  .nt {
    color: #ff657a;
  }

  // Literal
  .l {
    color: #c39ac9;
  }

  // LiteralDate
  .ld {
    color: #ffd76d;
  }

  // LiteralString
  .s {
    color: #ffd76d;
  }

  // LiteralStringAffix
  .sa {
    color: #ffd76d;
  }

  // LiteralStringBacktick
  .sb {
    color: #ffd76d;
  }

  // LiteralStringChar
  .sc {
    color: #ffd76d;
  }

  // LiteralStringDelimiter
  .dl {
    color: #ffd76d;
  }

  // LiteralStringDoc
  .sd {
    color: #ffd76d;
  }

  // LiteralStringDouble
  .s2 {
    color: #ffd76d;
  }

  // LiteralStringEscape
  .se {
    color: #c39ac9;
  }

  // LiteralStringHeredoc
  .sh {
    color: #ffd76d;
  }

  // LiteralStringInterpol
  .si {
    color: #ffd76d;
  }

  // LiteralStringOther
  .sx {
    color: #ffd76d;
  }

  // LiteralStringRegex
  .sr {
    color: #ffd76d;
  }

  // LiteralStringSingle
  .s1 {
    color: #ffd76d;
  }

  // LiteralStringSymbol
  .ss {
    color: #ffd76d;
  }

  // LiteralNumber
  .m {
    color: #c39ac9;
  }

  // LiteralNumberBin
  .mb {
    color: #c39ac9;
  }

  // LiteralNumberFloat
  .mf {
    color: #c39ac9;
  }

  // LiteralNumberHex
  .mh {
    color: #c39ac9;
  }

  // LiteralNumberInteger
  .mi {
    color: #c39ac9;
  }

  // LiteralNumberIntegerLong
  .il {
    color: #c39ac9;
  }

  // LiteralNumberOct
  .mo {
    color: #c39ac9;
  }

  // Operator
  .o {
    color: #ff657a;
  }

  // OperatorWord
  .ow {
    color: #ff657a;
  }

  // Comment
  .c {
    color: #aaa;
  }

  // CommentHashbang
  .ch {
    color: #aaa;
  }

  // CommentMultiline
  .cm {
    color: #aaa;
  }

  // CommentSingle
  .c1 {
    color: #aaa;
  }

  // CommentSpecial
  .cs {
    color: #aaa;
  }

  // CommentPreproc
  .cp {
    color: #aaa;
  }

  // CommentPreprocFile
  .cpf {
    color: #aaa;
  }

  // GenericDeleted
  .gd {
    color: #ff657a;
  }

  // GenericEmph
  .ge {
    font-style: italic;
  }

  // GenericInserted
  .gi {
    color: #bad761;
  }

  // GenericStrong
  .gs {
    font-weight: bold;
  }

  // GenericSubheading
  .gu {
    color: #aaa;
  }
}

.light .chroma {
  // Background
  .bg {
    color: #f8f8f2;
    background-color: #272822;
  }

  // Error
  .err {
    color: #960050;
    background-color: #1e0010;
  }

  // LineTableTD
  .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }

  // LineTable
  .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  // LineHighlight
  .hl {
    background-color: #{$yellow-050};
  }

  // LineNumbersTable
  .lnt {
    white-space: pre;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em;
    color: #7f7f7f;
  }

  // LineNumbers

  // Line
  .line {
    display: flex;
  }

  // Keyword
  .k {
    color: #4b69c6;
  }

  // KeywordConstant
  .kc {
    color: #4b69c6;
  }

  // KeywordDeclaration
  .kd {
    color: #4b69c6;
  }

  // KeywordNamespace
  .kn {
    color: #aa3731;
  }

  // KeywordPseudo
  .kp {
    color: #4b69c6;
  }

  // KeywordReserved
  .kr {
    color: #4b69c6;
  }

  // KeywordType
  .kt {
    color: #4b69c6;
  }

  // NameAttribute
  .na {
    color: #448c27;
  }

  // NameClass
  .nc {
    color: #448c27;
  }

  // NameConstant
  .no {
    color: #4b69c6;
  }

  // NameDecorator
  .nd {
    color: #448c27;
  }

  // NameException
  .ne {
    color: #448c27;
  }

  // NameFunction
  .nf {
    color: #448c27;
  }

  // NameOther
  .nx {
    color: #448c27;
  }

  // NameTag
  .nt {
    color: #aa3731;
  }

  // Literal
  .l {
    color: #7a3e9d;
  }

  // LiteralDate
  .ld {
    color: #9c5d27;
  }

  // LiteralString
  .s {
    color: #9c5d27;
  }

  // LiteralStringAffix
  .sa {
    color: #9c5d27;
  }

  // LiteralStringBacktick
  .sb {
    color: #9c5d27;
  }

  // LiteralStringChar
  .sc {
    color: #9c5d27;
  }

  // LiteralStringDelimiter
  .dl {
    color: #9c5d27;
  }

  // LiteralStringDoc
  .sd {
    color: #9c5d27;
  }

  // LiteralStringDouble
  .s2 {
    color: #9c5d27;
  }

  // LiteralStringEscape
  .se {
    color: #7a3e9d;
  }

  // LiteralStringHeredoc
  .sh {
    color: #9c5d27;
  }

  // LiteralStringInterpol
  .si {
    color: #9c5d27;
  }

  // LiteralStringOther
  .sx {
    color: #9c5d27;
  }

  // LiteralStringRegex
  .sr {
    color: #9c5d27;
  }

  // LiteralStringSingle
  .s1 {
    color: #9c5d27;
  }

  // LiteralStringSymbol
  .ss {
    color: #9c5d27;
  }

  // LiteralNumber
  .m {
    color: #7a3e9d;
  }

  // LiteralNumberBin
  .mb {
    color: #7a3e9d;
  }

  // LiteralNumberFloat
  .mf {
    color: #7a3e9d;
  }

  // LiteralNumberHex
  .mh {
    color: #7a3e9d;
  }

  // LiteralNumberInteger
  .mi {
    color: #7a3e9d;
  }

  // LiteralNumberIntegerLong
  .il {
    color: #7a3e9d;
  }

  // LiteralNumberOct
  .mo {
    color: #7a3e9d;
  }

  // Operator
  .o {
    color: #aa3731;
  }

  // OperatorWord
  .ow {
    color: #aa3731;
  }

  // Comment
  .c {
    color: #6d6d6d;
  }

  // CommentHashbang
  .ch {
    color: #6d6d6d;
  }

  // CommentMultiline
  .cm {
    color: #6d6d6d;
  }

  // CommentSingle
  .c1 {
    color: #6d6d6d;
  }

  // CommentSpecial
  .cs {
    color: #6d6d6d;
  }

  // CommentPreproc
  .cp {
    color: #6d6d6d;
  }

  // CommentPreprocFile
  .cpf {
    color: #6d6d6d;
  }

  // GenericDeleted
  .gd {
    color: #aa3731;
  }

  // GenericEmph
  .ge {
    font-style: italic;
  }

  // GenericInserted
  .gi {
    color: #448c27;
  }

  // GenericStrong
  .gs {
    font-weight: bold;
  }

  // GenericSubheading
  .gu {
    color: #6d6d6d;
  }
}

.ln {
  color: var(--text-secondary);
  white-space: pre;
  user-select: none;
  padding: 0 1rem;
  margin-left: -1rem;
}
