.inline-svg {
    display: inline-block;
    vertical-align: middle;

    svg {
        width: 1em;
        height: 1em;
        fill: currentColor;
        display: inline-block;
    }
}

// Misc
.hidden {
    display: none;
}

.accent {
    color: var(--accent);
}

/* Emoji */
.emoji {
    height: 1em;
    width: 1em;
}
