@import "colors";

:root {
  font-size: 15px;
}

.dark,
:root {
  --bg: #000;
  --text: #{$zinc-300};
  --headers: white;
  --code-bg: #000;
  --quote-bg: #080808;
  --code-border: #{$zinc-800};
  --code-text: white;
  --accent: #{$blue-400};
  --link-visited: #{$violet-400};
  --kb: #{$green-300};
}

.light {
  --bg: #{$slate-100};
  --code-bg: white;
  --code-border: #{$slate-200};
  --text: #{$slate-700};
  --headers: #{$slate-800};
  --accent: #{$blue-700};
  --link-visited: #{$purple-700};
  --kb: #{$emerald-700};
}
