@import "syntax";
@import "./tweets/tweets";
@import "colors";
@import "var";
@import "fonts";

body {
  color: var(--txt);
  background-color: var(--bg);
  max-width: 768px;
  margin: auto;
  padding: 2rem 1rem;
  min-height: 100vh;
}

.post-title {
  max-width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
