// Set the global variables for everything. Change these to use your own fonts/colours.
:root {
  --transition: all 0.2s ease-in-out;
  --sans-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --mono-font: "Ubuntu Mono", Consolas, Menlo, Monaco, "Andale Mono", monospace;
}

// Light Theme
.light {
  // Light Theme Colors
  --bg: #f7fafc;
  --code-frame-bg: #f7f7f7;
  --code-bg: #edf2f7;
  --code-border: #e2e8f0;
  --alt-bg: #e2e8f0;
  --border: #e2e8f0;
  --text: #2d3748;
  --headers: #2d3748;
  --text-secondary: #4a5568;
  --accent: #4f46e5;
  --accent-alt: #736de9;
}

// Dark Theme (Default)
.dark,
html {
  --bg: #171923;
  --code-bg: #1a202c;
  --alt-bg: #2d3748;
  --code-frame-bg: #2f394b;
  --code-border: #2d3748;
  --border: #4a5568;
  --text: #e2e8f0;
  --headers: #edf2f7;
  --text-secondary: #cbd5e0;
  --accent: #9ae6b4;
  --accent-alt: #bde2cb;
}

// Moon/Sun button to toggle Dark mode
#toggle {
  all: unset;
  width: 1.5rem;
  justify-self: end;
  transition: var(--transition);
}

#toggle:active {
  transform: rotate(30deg);
}

// Few Globals
body {
  color: var(--text);
  background-color: var(--bg);
  font-family: var(--sans-font);
  font-size: 18px;
  transition: var(--transition);
}

main {
  // Make the main element a nice central block
  margin: auto;
  max-width: 40rem;
  padding: 1rem;
  overflow: hidden;
  line-height: 1.7;
}

// Navbar container
header {
  display: grid;
  grid-template-columns: auto auto;
  margin: 2rem auto 1rem auto;
  padding: 0 1rem;
  max-width: 40rem;
}

.site-name {
  color: var(--accent);
  font-size: 36px;
}

article {
  margin: 1rem 0;
}

svg {
  color: var(--headers);
}

// Remove all styling from Links
a {
  color: unset;
  text-decoration: unset;
}

p code {
  padding: 2px 4px;
  background-color: var(--code-bg);
  color: var(--accent-alt);
  border-radius: 4px;
}

.post a {
  text-decoration: underline;
  color: var(--accent);
}
//Prose
// Headers
h1,
h2,
h3,
h4,
h5 {
  color: var(--headers);
  margin: 0;
  font-weight: 600;
  font-family: var(--sans-font);
}

blockquote {
  margin: 1.5rem 0;
  padding: 0.2rem 0 0.2rem 1rem;
  font-style: italic;
  background-color: var(--code-bg);
  color: var(--text-secondary);
  quotes: "\201C""\201D""\2018""\2019";
  border-left: var(--accent) 2px solid;
}

blockquote p:first-of-type::before {
  content: open-quote;
}
blockquote p:last-of-type::after {
  content: close-quote;
}

.post :is(h1, h2, h3, h4, h5, h6) {
  margin: 1rem 0;
}

//Images
img {
  width: 100%;
  border-radius: 4px;
}

table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1rem;
  line-height: 1.7;
}

// Space For Footer
.post {
  margin-bottom: 1rem;
}

.date {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text);
  font-size: 0.8rem;
}

article a h2 {
  color: var(--accent);
}

article p {
  color: var(--text);
  margin: 0;
}

.tags {
  background-color: var(--alt-bg);
  font-family: var(--mono-font);
  border-radius: 10px;
  padding: 3px 10px;
}

// Misc
.hidden {
  display: none;
}

.accent {
  color: var(--accent);
}

.social {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.social a svg {
  transition: var(--transition);
  border-bottom: solid 2px transparent;
}

.social a svg:hover {
  border-bottom: solid 2px var(--accent);
}

footer {
  margin: auto;
  padding: 2rem 1rem;
  max-width: 40rem;
}
