<footer>
  <style>
    .kb {
      font-size: 14px;
      display: flex;
      color: var(--accent);
      text-decoration: none;
    }

    .kb div {
      border: solid 2px var(--accent);
      padding: 2px 6px;
    }

    .kb:hover {
      opacity: 0.8;
    }

    .team {
      font-weight: 500;
      color: var(--bg);
      background-color: var(--accent);
    }
  </style>
  <br />
  <a class="kb" target="blank" href="https://512kb.club">
    <div>512KB CLUB</div>
    <div class="team">GREEN TEAM</div>
  </a>
</footer>

<script src="/js/index.js"></script>
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "7a794847225d435ead8fc0becd13d905"}'></script><!-- End Cloudflare Web Analytics -->
