<footer>
    <br/>
    <a class="kb" href="https://512kb.club" target="blank">
        <div>512KB CLUB</div>
        <div class="team">GREEN TEAM</div>
    </a>
    <script src="/js/index.js"></script>

</footer>

<style>
  .kb {
    font-size: 14px;
    display: flex;
    color: var(--accent);
    text-decoration: none;
  }
  
  .kb div {
    border: solid 2px var(--accent);
    padding: 2px 6px;
  }
  
  .kb:hover {
    opacity: 0.8;
  }
  
  .team {
    font-weight: 500;
    color: var(--bg);
    background-color: var(--accent);
  }
  </style> 