{{/*  Component to Display responsive images */}}
{{/*
	Params
		- filename
		- url
		- alt
		- width
		- height
*/}}

<picture>
	{{ $original := "" }}
	{{/*  Download Image  */}}
	{{- with resources.GetRemote .url -}}
		{{ $src := . }}
		{{- with .Err -}}
			{{/*  Log Error if 404 */}}
			{{- warnf "%v" . -}}
		{{- else -}}
			{{ range $.formats }}
				{{- $p := $src.Resize . -}}
				<source
					srcset="{{ $p.RelPermalink }}"
					type="{{ $p.MediaType }}">
			{{ end }}

			{{/* Original Image */}}
			{{ $original = .RelPermalink }}
		{{- end -}}
	{{- end -}}
	{{/*  Fallback to Remote  Image + sizes */}}
	<img
		data-src="{{ .url }}"
		data-copy="{{$original}}"
		class="{{.class }}"	
		src="{{ .url }}"
		loading="{{ .loading }}"
		alt='{{ .alt }}'
		width="{{ .width }}"
		height="{{ .height }}"

		style="aspect-ratio: {{ .width }}/{{ .height }}"
	/>
</picture>
