<picture>
  {{ $original := "" }}
  {{/* Download Image */}}
  {{- with resources.GetRemote .url -}}
    {{- with .Err -}}
      {{/* Log Error if 404 */}}
      {{- warnf "err fetching img %v" . -}}
    {{- else -}}
      {{ $src := . | resources.Copy (print $.filename "." .MediaType.SubType) }}
      {{ range $.formats }}
        {{ $resized := $src.Resize .options | resources.Copy (print $.filename .extension) }}
        <source
          srcset="{{ $resized.RelPermalink }}"
          type="{{ $resized.MediaType }}"
        />
      {{ end }}

      {{/* Original Image */}}
      {{ $original = $src.RelPermalink }}
    {{- end -}}
  {{- end -}}
  {{/* Fallback to Remote  Image + sizes */}}
  <img
    class="pic {{ .class }}"
    src="{{ .url }}"
    loading="{{ .loading }}"
    alt="{{ .alt }}"
    width="{{ .width }}"
    height="{{ .height }}"
    data-source_url="{{ .url }}"
    data-zoom-src="{{ $original }}"
    data-full_size="{{ $original }}"
    style="aspect-ratio: {{ .width }}/{{ .height }}"
  />
</picture>
