<section class="social">
  <!-- Github -->
  <a
    aria-label="github"
    href="https://github.com/{{ .Site.Params.Github }}"
    rel="noopener noreferrer"
    target="_blank"
  >
    {{ partialCached "inline-svg" "feather/github" "feather/github" }}
  </a>

  <!-- Twitter -->
  <a
    aria-label="Twitter"
    href="https://twitter.com/{{ .Site.Params.Twitter }}"
    rel="noopener noreferrer"
    target="_blank"
  >
    {{ partialCached "inline-svg" "feather/twitter" "feather/twitter" }}
  </a>

  <!-- Email -->
  <a
    aria-label="Email Link"
    href="{{ .Site.Params.Email }}"
    target="_blank"
    rel="noopener noreferrer"
  >
    {{ partialCached "inline-svg" "feather/mail" "feather/mail" }}
  </a>

  <!-- RSS -->
  <a
    aria-label="RSS Feed"
    href="/index.xml"
    rel="noopener noreferrer me"
    target="_blank"
  >
    {{ partialCached "inline-svg" "feather/rss" "feather/rss" }}
  </a>
</section>
