@import "./tailwind";

$bg: $coolGray-900;
$text: $coolGray-050;
$text-secondary: $coolGray-300;
$border: $coolGray-700;
$checkmark: $coolGray-050;
// Likes
$likes-text-hover: $red-400;
$likes-bg-hover: rgba($red-400, 0.1);
// Link
$link-text-hover: var(--accent-400);
$link-bg-hover: var(--accent-bg);
//
// $border-radius: 8px;
$likes-text: $text-secondary;
$link-text: $text-secondary;
$likes-bg: transparent;
$link-bg: transparent;

$poll-bar: $coolGray-700;

$accent-text: var(--accent-400);
$poll-bar-win: var(--accent-900);
