{{/* Props
  - conversation_count
  - retweet_count
  - favorite_count
*/}}

{{ $json := dict }}
{{ $headers := partial "tweet/guest" }}
{{ $url  := print "https://api.twitter.com/1.1/statuses/lookup.json?include_entities=1&id=" .ctx.id_str }}

{{ with resources.GetRemote $url (dict "method" "get" "key" (print "v1-lookup" .ctx.id_str) "headers"  $headers) }}
  {{ with .Err }}
    {{ warnf "%v" . }}
  {{ else }}
    {{ with .Content | transform.Unmarshal }}
      {{ $json = index . 0 }}
    {{ else }}
      {{ warnf "Err %s" .ctx.id_str }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $link := print "https://twitter.com/" .ctx.user.screen_name "/status/" .ctx.id_str }}


<div class="tweet-buttons-thread">
  <a href="{{ $link }}" class="blue">
    {{ partial "inline-svg" "twitter/comment" }}
    {{ partial "tweet/compact" .ctx.conversation_count }}
  </a>
  <a href="{{ $link }}" class="green">
    {{ partial "inline-svg" "twitter/retweet" }}
    {{ partial "tweet/compact" $json.retweet_count }}
  </a>
  <a href="{{ $link }}" class="red">
    {{ partial "inline-svg" "twitter/like" }}
    {{ partial "tweet/compact" .ctx.favorite_count }}
  </a>
  <a href="{{ $link }}" class="blue">
    {{ partial "inline-svg" "twitter/share" }}
  </a>
</div>
