{{/*
valid card.name values
  - player 
  - summary 
  - summary_large_image 
  - poll4choice_text_only 
  - promo_image_convo 
  - 3691233323:audiospace  */}}

{{ if or (eq .ctx.card.name "player") (eq .ctx.card.name "summary") (eq .ctx.card.name "summary_large_image") }}
{{ with .ctx.card.binding_values }}
<section  class='card {{ if and .thumbnail_image_large (eq $.ctx.card.name "summary_large_image") }} card_large {{ else }} card_small {{ end }}'>
{{ $url := .card_url.string_value }}

<!-- Replace twitter url with expanded url  -->
{{ range $.ctx.entities.urls }}
    {{ if (eq $url .url) }}
        {{ $url = .expanded_url }}
    {{ end }}
{{ end }}

{{/*  Overlay to make div clickable  */}}
<a class="overlay" href="{{ $url }}" target="_blank" rel="noopener noreferrer"></a>

{{/*  NO Thumbnail Image Available */}}
{{ if and ( not .thumbnail_image_large.image_value ) ( not .player_image.image_value ) }}
    <div class="card-no-image">
        {{ partial "inline-svg" "twitter/document"}}
    </div>
{{ end }}

{{/*  Summary Card  */}}
{{ with .thumbnail_image_large.image_value }}
<picture>
    {{ with resources.GetRemote .url }}
        {{ with .Err }}
            {{ warnf "Failed to load OpenGraph Image %v \n%v" $.ctx.id_str . }}
        {{ else }}
            {{ $filename := print "/twitter/media/opengraph/" $.ctx.id_str "." .MediaType.SubType }}
            {{ $img := .Content | resources.FromString $filename }}
            <source srcset="{{ .RelPermalink }}" type="{{ .MediaType }}">
        {{ end }}
    {{ end }}
    <img class="card_thumbnail" src="{{ .url }}" alt="">
</picture>
{{ end }}

{{/*  Player Card  */}}
{{ with .player_image.image_value }}
    <picture>
        {{ with resources.GetRemote .url }}
            {{ with .Err }}
                {{ warnf "Failed to load OpenGraph Image %v \n%v" $.ctx.id_str . }}
            {{ else }}
                {{ $filename := print "/twitter/media/opengraph/" $.ctx.id_str "." .MediaType.SubType }}
                {{ $img := .Content | resources.FromString $filename }}
                <source srcset="{{ .RelPermalink }}" type="{{ .MediaType }}">
            {{ end }}
        {{ end }}
        <img class="card_thumbnail" src="{{ .url }}" alt="">
    </picture>
{{ end }}



{{/*  Text Content  */}}
<div class="card_content">

    {{ if .vanity_url }}
        <div class="vanity_url">{{.vanity_url.string_value}} </div>
    {{ end }}

    {{ if .title }}
        <div class="title {{ if not .description }}title-2{{ end }}">{{.title.string_value}} </div>
    {{ end }}

    {{ if .description }}
        <p class="description">{{.description.string_value }}</p>
    {{ end }}
</div>
</section>
{{ end }}
{{ end }}