<!--
  Renders images from a tweet object
  Size values:
    `:thumb`
    `:small`
    `:medium`
    `:large`
    `:orig`

  TODO: Custom quality based on above.

 TODO params loading:
    size: {small, medium, large, original}
    backup: {true, false, }
-->

{{ with .ctx.photos }}
  {{ $count := len . }}
  <div class="gallery gallery-{{- $count -}}">
    {{ range . }}
      {{ $src := printf "%s:medium" .url }}
      
      {{/* Self host  Image */}}
      {{/*  a. GET Image from twitter cdn  */}}
      {{ $img := resources.GetRemote .url }}
      {{/*  b. Change Image source if there are no errors */}}
      {{/*  TODO: Resize and use picture element */}}
      {{ if not $img.Err }}
        {{ $src = $img.RelPermalink }}
      {{ end }}

      {{ $webp_src := replace $src  ".jpg" ".webp" }}
      {{ $avif_src := replace $src  ".jpg" ".avif" }}

      <picture>
        <source srcset="{{ $avif_src }}" type="image/avif">
        <source srcset="{{ $webp_src }}" type="image/webp">

        <img
          src="{{ $src }}"
          {{ if eq 1 $count }}
          width="{{ .width }}"
          height="{{ .height }}"
          style="aspect-ratio: {{.width}}/{{.height}};"
          {{ end }}
          {{ if .accessibilityLabel }}
          alt='{{.accessibilityLabel}}'
          {{ else }}
          alt=""
          {{ end }}
        />
      </picture>
    {{ end }}
  </div>
{{ end }}