{{ with .ctx  }}
<!-- Compact notation for likes
     eg: 1234 => 1.2K -->
     {{ $likes := .favorite_count }}
     {{ $k := math.Floor	(div $likes 1000) }}
     {{ $h := math.Floor	(mul .01 (mod $likes 1000)) }}
     <!-- If Hundreds value is zero -->
     <!-- eg: 12,000 => 12K  -->
     {{ if (gt $k 0) }} {{$likes = print $k "K" }} {{end}}

     <!-- If Hundreds value is >100 -->
     <!-- eg: 12,345 => 12.3K  -->
     {{ if and (gt $k 0) (gt $h 0) }}
       {{$likes = print $k "." $h "K" }}
     {{ end }}
    <!-- Tweet urls -->
    {{- $host := "https://twitter.com/" -}}
    {{- $tweetUrl := print $host .user.screen_name "/status/" .id_str -}}
    {{- $replyUrl := print $host "intent/like?in_reply_to=" .id_str -}}
    {{- $likeUrl  := print $host "intent/like?tweet_id=" .id_str -}}

    <!-- Metadata: Likes, Link to tweet -->
    {{ $date :=  time.Format "3:04 PM · Jan 2, 2006" .created_at }}
    {{ $uts := time .created_at }}
    {{ $uts := $uts.Unix }}
    <span>

      <a
      data-date="{{$uts}}"
      class="tw-date"
      aria-label="Posted on {{ $date }}"
      href="{{ $tweetUrl }}"
      >
      {{- $date -}}
    </a>
    {{ with .place }}
    <a class="tw-place" href="https://twitter.com/places/{{.id}}">
      from {{.full_name}}
    </a>
    </span>

    {{ end }}
    <div class="meta">
      <!-- Likes -->
      <a class="likes" href="{{ $likeUrl }}" target="_blank" rel="noopener noreferrer" > 
        {{ partial "inline-svg" "twitter/like"}} {{ $likes }}
      </a>
      <!-- Link To Tweet -->
      <a href="{{ $tweetUrl }}" target="_blank" rel="noopener noreferrer" class="link">
        {{ partial "inline-svg" "twitter/link"}} Link to Tweet
      </a>
    </div>
{{ end }}