{{/* Initialize variables */}}
{{ $polls   := slice }}
{{ $isFinal := false }}
{{ $max     := 0 }}
{{ $total   := 0 }}

{{/* Create Array of Poll Data */}}
{{ with .ctx.card.binding_values }}
  {{- $polls = (slice
    (dict
    "count" (int .choice1_count.string_value)
    "label" .choice1_label.string_value)

    (dict
    "count" (int .choice2_count.string_value)
    "label" .choice2_label.string_value))
  -}}

  {{/* 3rd choice */}}
  {{ if .choice3_count }}
    {{- $polls = $polls | append
      (dict
      "count" (int .choice3_count.string_value)
      "label" .choice3_label.string_value)
    -}}
  {{ end }}

  {{/* 4th choice */}}
  {{ if .choice4_count }}
    {{- $polls = $polls | append
      (dict
      "count" (int .choice4_count.string_value)
      "label" .choice4_label.string_value)
    -}}
  {{ end }}

  {{ $isFinal = .counts_are_final.boolean_value }}
{{ end }}

{{ range $polls }}
  {{/* Winner */}}
  {{ if gt .count $max }}
    {{ $max = .count }}
  {{ end }}
  {{/* Totals */}}
  {{ $total = add $total .count }}
{{ end }}

{{/* If poll has video */}}

{{ if .ctx.card.binding_values.player_image }}
  {{ with .ctx.card.binding_values }}
    {{ $poster := .player_image.image_value.url }}
    {{ with .player_stream_url.string_value }}
      {{ with resources.GetRemote . | transform.Unmarshal }}
        {{ range .Extensions.Extension.amplify.content.videoVariants.videoVariant }}
          {{ $bit_rate := index . "-bit_rate" }}
          {{ $content_type := index . "-content_type" }}
          {{ $url := index . "-url" }}
          {{ $url := replace $url "%3A" ":" }}
          {{ $url := replace $url "%2F" "/" }}
          {{/* Highest Quality Video */}}
          {{ if eq "2176000" $bit_rate }}
            <video src="{{ $url }}" poster="{{ $poster }}" controls></video>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}

  {{ end }}
{{ end }}

{{ if .ctx.card.binding_values.choice1_label.string_value }}
  <section class="polls">
    {{ range $polls }}
      {{/* Calculate Percentage */}}
      {{ $percent  := 0 }}
      {{ if gt $total 0 }}
        {{ $percent = (math.Round (mul (div (float .count) $total) 100)) }}
      {{ end }}


      <div class="poll-container {{ if eq .count $max }}win{{ end }}">
        <div class="progress-container-text">
          {{/* Vote Count */}}
          <span> {{ .label }} &nbsp; {{ .count }} </span>
          {{/* Percentage */}}
          <span> {{ $percent }}%</span>
        </div>

        {{/* Progress bar */}}
        <div
          class="progress-bar {{ if eq .count $max }}win-bar{{ end }}"
          style="width: {{ add $percent 1 }}%;"
          aria-hidden="true"
        ></div>
      </div>
    {{ end }}
    {{/* Total Votes Cast */}}
    <div class="total">
      <span>{{ $total }} votes</span>
      {{ if $isFinal }}
        <span>· Final results</span>
      {{ end }}
    </div>
  </section>
{{ end }}
