{{/*
Display profile picture


TODO
    - avif & webp variants
    - multiple sizes
*/}}

{{ with .ctx }}
<picture>
    {{ $image_src := replace .user.profile_image_url_https "_normal" "" }}
    {{/* Download & add image source if there's no error */}}
    {{ with resources.GetRemote $image_src }}
        {{ with .Err }}
            {{ warnf "Failed to load profile pic %v \n%v" $.ctx.id_str . }}
        {{ else }}
            {{/*  Rename Image` */}}
            {{ $filename := print "/twitter/media/profile-photos/" $.ctx.user.id_str "." .MediaType.SubType }}
            {{ $img := .Content | resources.FromString $filename }}
            <source srcset="{{ $img.RelPermalink  }}" type="{{ $img.MediaType }}">
        {{ end }}
    {{ end }}

    {{/* Fallback */}}
    <img
        width="42"
        height="42"
        loading="lazy"
        alt=""
        src="{{ $image_src }}"
    />
</picture>
{{ end }}