<!--
    Renders profile Picture

    params:
    "ctx" - valid tweet object
    "use_base64" - flag to inline the image as base64 data uri
    "size" size based on the following

    valid size values:
    '_mini'   -> '24x24' 
    '_normal' -> '48x48'
    '_bigger' -> '73x73'
    ''        -> 'original' || 400x400
-->

{{/*
== TODO ==
- avif & webp variants (via shell script)
- save to 'assets/twitter/users/{user-id}.{png|webp|avif} 
- multiple size variants
*/}}

{{ with .ctx }}
<picture>
    {{/* Self host image */}}
    {{ $image_src := replace .user.profile_image_url_https "_normal" "" }}
    {{ with resources.GetRemote $image_src }}
        {{ $img := .}}
        {{ $filename := print "/twitter/media/profile-photos/" $.ctx.user.id_str "." $img.MediaType.SubType }}
        {{ $img := $img.Content | resources.FromString $filename }}
        <source srcset="{{ $img.RelPermalink  }}" type="{{ $img.MediaType }}">
    {{ end }}

    {{/* Fallback */}}
    <img
        width="42"
        height="42"
        loading="lazy"
        alt=""
        src="{{ $image_src }}"
    />
</picture>
{{ end }}