{{/*  Space Id  */}}
{{ $id := .id }}
{{/*  API Keys  */}}
{{ $GuestToken := 1517833280963416065 }}
{{ $Bearer := "AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs=1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA" }}
{{ $spacePersistedQuery := "lFpix9BgFDhAMjn9CrW6jQ" }}

{{/*  Get Guest Token */}}
{{ $res := resources.GetRemote "https://api.twitter.com/1.1/guest/activate.json" ( dict
        "method" "post"
        "headers" (dict
            "Authorization" (print "Bearer " $Bearer))) }}

{{ $GuestToken := $res.Content | transform.Unmarshal }}
{{ $GuestToken := index $GuestToken "guest_token" }}

{{/*  Add Guest Token To Header  */}}
{{ $headers := (dict
    "Authorization" (printf "Bearer %s" $Bearer)
    "X-Guest-Token" (printf "%v" $GuestToken)) }}

{{/*  Get spaces Data  */}}
{{ $url := (printf "https://twitter.com/i/api/graphql/{spacePersistedQuery}/AudioSpaceById?variables=%%7B%%22id%%22%%3A%%22{space_id}%%22%%2C%%22isMetatagsQuery%%22%%3Afalse%%2C%%22withBirdwatchPivots%%22%%3Afalse%%2C%%22withDownvotePerspective%%22%%3Afalse%%2C%%22withReactionsMetadata%%22%%3Afalse%%2C%%22withReactionsPerspective%%22%%3Afalse%%2C%%22withReplays%%22%%3Afalse%%2C%%22withScheduledSpaces%%22%%3Afalse%%2C%%22withSuperFollowsTweetFields%%22%%3Afalse%%2C%%22withSuperFollowsUserFields%%22%%3Afalse%%7D")}}
{{ $url := replace $url "{spacePersistedQuery}" $spacePersistedQuery }}
{{ $url := replace $url "{space_id}" $id }}
{{ $data := getJSON $url $headers }}

{{ $m := $data.data.audioSpace.metadata }}

<article class="spaces-card">
    <div class="spaces-meta">
        <span class="spaces-date">Mar 30</span>
        <span class="spaces-name">{{$m.creator_results.result.legacy.name}}</span>
        <span class="spaces-length">29:12</span>
    </div>
    <h3 class="title">{{$m.title}}</h3>
    <a href="https://twitter.com/i/spaces/{{$id}}" class="spaces-btn">Open on Twitter</a>
</article>

