{{/* TODO: Use slice instead of string replacement */}}
{{ $seen_hashtag := newScratch }}
{{ $text := .ctx.text }}

{{/* Remove Links to Media */}}
{{ range .ctx.entities.media }}
  {{ $text = replace $text .url "" }}
{{ end }}

{{/* Urls */}}
{{ range .ctx.entities.urls }}
  {{ $new := printf "<a target='_blank' rel='noopener noreferrer' href='%s'>%s</a>" .expanded_url .display_url }}
  {{/* Remove link to quote tweet */}}
  {{ if in .expanded_url $.ctx.quoted_tweet.id_str }}
    {{ $new = "" }}
  {{ end }}

  {{/* Remove Card Links */}}
  {{- if (eq .url $.ctx.card.url ) -}}
    {{ if
      or
      (eq $.ctx.card.name "2586390716:message_me")
      (eq $.ctx.card.name "3691233323:audiospace")
      (eq $.ctx.card.name "amplify")
      (eq $.ctx.card.name "promo_image_convo")
    }}
      {{ $new = "" }}
    {{ end }}
  {{ end }}

  {{ $text = replace $text .url $new }}
{{ end }}

{{/* Mentions */}}
{{ range .ctx.entities.user_mentions }}
  {{ $old := (slicestr $.ctx.text (index .indices 0) (index .indices 1)) }}
  {{ $new := printf "<a target='_blank' rel='noopener noreferrer' href='https://twitter.com/intent/user?user_id=%s'>%s</a>" .id_str $old }}
  {{ $text = replace $text $old $new }}
{{ end }}

{{/* 4. Symbols/Cashflags */}}
{{ range .ctx.entities.symbols }}
  {{ $old := (slicestr $.ctx.text (index .indices 0) (index .indices 1)) }}
  {{ $new := printf "<a target='_blank' rel='noopener noreferrer' href='https://twitter.com/search?q=%s'>%s</a>" $old $old }}
  {{ $text = replace $text $old $new }}
{{ end }}

{{/* Hashtags */}}
{{ range .ctx.entities.hashtags }}
  {{ if not ($seen_hashtag.Get .text) }}
    {{ $hashflag_markup := "" }}

    {{/* Get tweet date */}}
    {{ $date :=  time $.ctx.created_at }}
    {{ $hashtag := (lower .text) }}
    {{/* If hashtag has campaign(s) */}}
    {{ with index site.Data.hashtags $hashtag }}
      {{ $campaign := "" }}
      {{/* Select campaign */}}
      {{ range $c := . }}
        {{ with index site.Data.campaigns $c }}
          {{/* If Tweet falls within campaign dates, use it */}}
          {{ if and ( lt .startingTimestampMs $date.UnixMilli ) ( gt .endingTimestampMs   $date.UnixMilli ) }}
            {{ $campaign = $c }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{/* Select Image */}}
      {{ with resources.Get (print "twitter/media/hashflags/" $campaign ".png") }}
        {{ $hashflag_markup = printf "<picture class='emoji'> <img src='%s' alt=''> </picture>" .RelPermalink }}
      {{ end }}
    {{ end }}

    {{ $old := (slicestr $.ctx.text (index .indices 0) (index .indices 1)) }}
    {{/* Make hashtag link + optional hashflag */}}
    {{ $new := printf "<a target='_blank' rel='noopener noreferrer' href='https://twitter.com/hashtag/%s'>#%s</a> %s" .text .text $hashflag_markup }}
    {{/* Replace text with clickable link */}}
    {{ $text = replace $text $old $new }}
    {{/* Mark hashtag as seen */}}
    {{ $seen_hashtag.Set .text "true" }}
  {{ end }}
{{ end }}


<p class="text">{{ $text | safeHTML -}}</p>
