{{ $props := (dict "ctx" .ctx "coTweetData" .coTweetData) }}


<article class="tweet {{ .mode }}" lang="{{ .ctx.lang }}">
  <div class="profile-pic">
    {{ if .isCoTweet }}
      {{ partial "tweet/co_profile-pic" $props }}
    {{ else }}
      {{ partial "tweet/profile-pic" $props }}
    {{ end }}
  </div>

  <div class="user-info">
    {{ if .isCoTweet }}
      {{ partial "tweet/co_user-info" $props }}
    {{ else }}
      {{ partial "tweet/user-info" $props }}
    {{ end }}
  </div>

  <div class="content">
    {{/* Tweet urls */}}
    {{- partial "tweet/text"     $props -}}
    {{- partial "tweet/cards"    $props -}}
    {{- partial "tweet/gallery"  $props -}}
    {{- partial "tweet/video"    $props -}}
    {{- partial "tweet/poll"     $props -}}

    {{ with .ctx.quoted_tweet }}
      {{ $props := (dict "ctx" . "quoted" true "coTweetData" $.coTweetData) }}


      <article
        class="tweet {{ if $.isCoTweetQuote }}
          co-quote
        {{ else }}
          quoted
        {{ end }}
         "
        lang="{{ .lang }}"
      >
        <div class="profile-pic">
          {{ if $.isCoTweetQuote }}
            {{ partial "tweet/co_profile-pic" $props }}
          {{ else }}
            {{ partial "tweet/profile-pic" $props }}
          {{ end }}
        </div>

        <div class="user-info">
          {{ if $.isCoTweetQuote }}
            {{ partial "tweet/co_user-info" $props }}
          {{ else }}
            {{ partial "tweet/user-info" $props }}
          {{ end }}
        </div>

        <div class="content">
          {{- partial "tweet/text"        $props -}}
          {{- partial "tweet/gallery"     $props -}}
          {{- partial "tweet/video"       $props -}}
        </div>
      </article>
    {{ end }}

    {{/* Date, Likes, Link to tweet button */}}
    {{ if $.showButton }}
      {{ partial "tweet/buttons" $props }}
    {{ else }}
      {{ partial "tweet/meta" $props }}
    {{ end }}
  </div>
</article>
