{{ $props := (dict "ctx" .ctx "coTweetData" .coTweetData) }}


<article class="tweet {{ .mode }}" lang="{{ .ctx.lang }}">
  <div class="profile-pic">
    {{ partial "tweet/profile-pic" $props }}
  </div>

  <div class="user-info">
    {{ partial "tweet/user-info" $props }}
  </div>

  <div class="content">
    {{/* Tweet urls */}}
    {{- partialCached "tweet/text"     $props $props.ctx.id_str -}}
    {{- partialCached "tweet/cards"    $props $props.ctx.id_str -}}
    {{- partialCached "tweet/gallery"  $props $props.ctx.id_str -}}
    {{- partialCached "tweet/video"    $props $props.ctx.id_str -}}
    {{- partialCached "tweet/poll"     $props $props.ctx.id_str -}}

    {{ with .ctx.quoted_tweet }}
      {{ $props := (dict "ctx" . "quoted" true "coTweetData" $.coTweetData) }}


      <article class="tweet quoted" lang="{{ .lang }}">
        <div class="profile-pic">
          {{ partialCached "tweet/profile-pic" $props $props.user.id_str }}
        </div>
        <div class="user-info">
          {{ partialCached "tweet/user-info" $props $props }}
        </div>

        <div class="content">
          {{- partial "tweet/text"        $props -}}
          {{- partial "tweet/gallery"     $props -}}
          {{- partial "tweet/video"       $props $props.ctx.id_str -}}
        </div>
      </article>
    {{ end }}

    {{/* Date, Likes, Link to tweet button */}}
    {{ if $.showButton }}
      {{ partial "tweet/buttons" $props }}
    {{ else }}
      {{ partial "tweet/meta" $props }}
    {{ end }}
  </div>
</article>
