{{ with resources.GetRemote .url }}
  {{ with transform.Unmarshal .Content }}
    {{ range .Extensions.Extension.amplify.content.videoVariants.videoVariant }}
      {{ $bit_rate := index . "-bit_rate" }}
      {{ $content_type := index . "-content_type" }}
      {{ $url := index . "-url" }}
      {{ $url := replace $url "%3A" ":" }}
      {{ $url := replace $url "%2F" "/" }}
      {{/* Highest Quality Video */}}
      {{ if eq "2176000" $bit_rate }}
        <video
          class="amplify-video"
          controls
          poster="{{ $.poster }}"
          style="aspect-ratio: {{ $.width }} / {{ $.height }};"
          src="{{ $url }}"
        ></video>
      {{ end }}
    {{ end }}
  {{ end }}
{{ else }}
{{ end }}
