$blue1100: "#EAFAFF";
$blue1000: "#D7F6FF";
$blue900: "#BFF2FF";
$blue800: "#97E3FF";
$blue700: "#6BC9FB";
$blue600: "#43B3F6";
$blue500: "#1D9BF0";
$blue400: "#0083EB";
$blue300: "#006FD6";
$blue200: "#005AC2";
$blue100: "#003886";
$blue50: "#00154A";
$blue0: "#02113D";
$gray1100: "#E7E9EA";
$gray1000: "#D6D9DB";
$gray900: "#B6B9BC";
$gray800: "#91969A";
$gray700: "#71767B";
$gray600: "#64696D";
$gray500: "#595D62";
$gray400: "#4B4E52";
$gray300: "#3E4144";
$gray200: "#333639";
$gray100: "#2A2D30";
$gray50: "#202327";
$gray0: "#16181C";
$green1100: "#EDFFF9";
$green1000: "#DBF8EB";
$green900: "#C2F1DC";
$green800: "#92E3BF";
$green700: "#61D6A3";
$green600: "#31C88E";
$green500: "#00BA7C";
$green400: "#009C64";
$green300: "#007E50";
$green200: "#00613D";
$green100: "#004329";
$green50: "#00251A";
$green0: "#002218";
$magenta1100: "#FFF1F8";
$magenta1000: "#FFDDED";
$magenta900: "#FEC7E1";
$magenta800: "#FD9BC9";
$magenta700: "#FB70B0";
$magenta600: "#FA4498";
$magenta500: "#F91880";
$magenta400: "#D4136D";
$magenta300: "#AF0E5A";
$magenta200: "#890A46";
$magenta100: "#640533";
$magenta50: "#3F001F";
$magenta0: "#37011C";
$orange1100: "#FEF5EC";
$orange1000: "#FFEDDB";
$orange900: "#FFE0C2";
$orange800: "#FFC692";
$orange700: "#FFAD61";
$orange600: "#FF9331";
$orange500: "#FF7A00";
$orange400: "#D86000";
$orange300: "#B04500";
$orange200: "#892B00";
$orange100: "#692100";
$orange50: "#491600";
$orange0: "#3C1201";
$plum1100: "#FFEFFF";
$plum1000: "#FAE0FA";
$plum900: "#F4CDF5";
$plum800: "#E9A7EB";
$plum700: "#DF82E0";
$plum600: "#D45CD6";
$plum500: "#C936CC";
$plum400: "#AB2BAE";
$plum300: "#8D2090";
$plum200: "#701671";
$plum100: "#520B53";
$plum50: "#340035";
$plum0: "#2D032D";
$purple1100: "#F5F3FF";
$purple1000: "#ECE8FF";
$purple900: "#DFD8FF";
$purple800: "#C5B7FF";
$purple700: "#AC97FF";
$purple600: "#9276FF";
$purple500: "#7856FF";
$purple400: "#6545DB";
$purple300: "#5234B7";
$purple200: "#3F2292";
$purple100: "#2C116E";
$purple50: "#19004A";
$purple0: "#160634";
$red1100: "#FFF0F1";
$red1000: "#FEDEE3";
$red900: "#FDC9CE";
$red800: "#FB9FA8";
$red700: "#F87580";
$red600: "#F64B5C";
$red500: "#F4212E";
$red400: "#D11A28";
$red300: "#AE1425";
$red200: "#8A0D20";
$red100: "#67070F";
$red50: "#440004";
$red0: "#3D0105";
$teal1100: "#E9FEFF";
$teal1000: "#D1F8FA";
$teal900: "#B3F1F4";
$teal800: "#78E4E8";
$teal700: "#3CD6DD";
$teal600: "#00C9D1";
$teal500: "#00AFB6";
$teal400: "#009399";
$teal300: "#00777C";
$teal200: "#005A5F";
$teal100: "#003E42";
$teal50: "#002225";
$teal0: "#022023";
$yellow1100: "#FFFDEA";
$yellow1000: "#FFFED7";
$yellow900: "#FFFEC0";
$yellow800: "#FFF595";
$yellow700: "#FFEB6B";
$yellow600: "#FFE042";
$yellow500: "#FFD400";
$yellow400: "#DCAB00";
$yellow300: "#B88200";
$yellow200: "#955900";
$yellow100: "#6F3E00";
$yellow50: "#482300";
$yellow0: "#3D1E02";