$gray1100: "#F7F9F9";
$gray1000: "#DDE2E5";
$gray900: "#C2CAD0";
$gray800: "#9DA9B4";
$gray700: "#8B98A5";
$gray600: "#8394A3";
$gray500: "#788A99";
$gray400: "#6C7E8E";
$gray300: "#5C6E7E";
$gray200: "#425364";
$gray100: "#394857";
$gray050: "#273340";
$gray0: "#1E2732";