$blue0: "#EAFAFF";
$blue50: "#D7F6FF";
$blue100: "#BFF2FF";
$blue200: "#97E3FF";
$blue300: "#6BC9FB";
$blue400: "#43B3F6";
$blue500: "#1D9BF0";
$blue600: "#0083EB";
$blue700: "#006FD6";
$blue800: "#005AC2";
$blue900: "#003886";
$blue1000: "#00154A";
$blue1100: "#02113D";
$gray0: "#F7F9F9";
$gray50: "#EFF3F4";
$gray100: "#E5EAEC";
$gray200: "#CFD9DE";
$gray300: "#B9CAD3";
$gray400: "#9FB5C3";
$gray500: "#829AAB";
$gray600: "#6B7F8E";
$gray700: "#536471";
$gray800: "#40515E";
$gray900: "#37434D";
$gray1000: "#242E36";
$gray1100: "#0F1419";
$green0: "#EDFFF9";
$green50: "#DBF8EB";
$green100: "#C2F1DC";
$green200: "#92E3BF";
$green300: "#61D6A3";
$green400: "#31C88E";
$green500: "#00BA7C";
$green600: "#009C64";
$green700: "#007E50";
$green800: "#00613D";
$green900: "#004329";
$green1000: "#00251A";
$green1100: "#002218";
$magenta0: "#FFF1F8";
$magenta50: "#FFDDED";
$magenta100: "#FEC7E1";
$magenta200: "#FD9BC9";
$magenta300: "#FB70B0";
$magenta400: "#FA4498";
$magenta500: "#F91880";
$magenta600: "#D4136D";
$magenta700: "#AF0E5A";
$magenta800: "#890A46";
$magenta900: "#640533";
$magenta1000: "#3F001F";
$magenta1100: "#37011C";
$orange0: "#FEF5EC";
$orange50: "#FFEDDB";
$orange100: "#FFE0C2";
$orange200: "#FFC692";
$orange300: "#FFAD61";
$orange400: "#FF9331";
$orange500: "#FF7A00";
$orange600: "#D86000";
$orange700: "#B04500";
$orange800: "#892B00";
$orange900: "#692100";
$orange1000: "#491600";
$orange1100: "#3C1201";
$plum0: "#FFEFFF";
$plum50: "#FAE0FA";
$plum100: "#F4CDF5";
$plum200: "#E9A7EB";
$plum300: "#DF82E0";
$plum400: "#D45CD6";
$plum500: "#C936CC";
$plum600: "#AB2BAE";
$plum700: "#8D2090";
$plum800: "#701671";
$plum900: "#520B53";
$plum1000: "#340035";
$plum1100: "#2D032D";
$purple0: "#F5F3FF";
$purple50: "#ECE8FF";
$purple100: "#DFD8FF";
$purple200: "#C5B7FF";
$purple300: "#AC97FF";
$purple400: "#9276FF";
$purple500: "#7856FF";
$purple600: "#6545DB";
$purple700: "#5234B7";
$purple800: "#3F2292";
$purple900: "#2C116E";
$purple1000: "#19004A";
$purple1100: "#160634";
$red0: "#FFF0F1";
$red50: "#FEDEE3";
$red100: "#FDC9CE";
$red200: "#FB9FA8";
$red300: "#F87580";
$red400: "#F64B5C";
$red500: "#F4212E";
$red600: "#D11A28";
$red700: "#AE1425";
$red800: "#8A0D20";
$red900: "#67070F";
$red1000: "#440004";
$red1100: "#3D0105";
$teal0: "#E9FEFF";
$teal50: "#D1F8FA";
$teal100: "#B3F1F4";
$teal200: "#78E4E8";
$teal300: "#3CD6DD";
$teal400: "#00C9D1";
$teal500: "#00AFB6";
$teal600: "#009399";
$teal700: "#00777C";
$teal800: "#005A5F";
$teal900: "#003E42";
$teal1000: "#002225";
$teal1100: "#022023";
$yellow0: "#FFFDEA";
$yellow50: "#FFFED7";
$yellow100: "#FFFEC0";
$yellow200: "#FFF595";
$yellow300: "#FFEB6B";
$yellow400: "#FFE042";
$yellow500: "#FFD400";
$yellow600: "#DCAB00";
$yellow700: "#B88200";
$yellow800: "#955900";
$yellow900: "#6F3E00";
$yellow1000: "#482300";
$yellow1100: "#3D1E02";
