{{ $id := (.Get "id") }}

{{ $mode := "focus" }}

{{ if ne (.Get "mode") "" }}
  {{ $mode = (.Get "mode") }}
{{ end }}

{{ if eq (.Get "version") "2022" }}
  <!-- Older Twitter -->
  {{ with getJSON "https://cdn.syndication.twimg.com/tweet?id=" $id }}
    {{ partial "tweet/tweet" (dict "ctx" . "mode" $mode) }}
  {{ end }}
{{ else }}
  <!-- 2023 Twitter API -->
  {{ with getJSON "https://cdn.syndication.twimg.com/tweet-result?id=" $id }}
    {{ partial "tweet/tweet" (dict "ctx" . "mode" $mode) }}
  {{ end }}
{{ end }}
