// Chakra UI colors as scss variables
// chakra-ui.com/docs/theming/theme

// Gray
$Gray-050: #f7fafc;
$Gray-100: #edf2f7;
$Gray-200: #e2e8f0;
$Gray-300: #cbd5e0;
$Gray-400: #a0aec0;
$Gray-500: #718096;
$Gray-600: #4a5568;
$Gray-700: #2d3748;
$Gray-800: #1a202c;
$Gray-900: #171923;

// Red
$Red-050: #fff5f5;
$Red-100: #fed7d7;
$Red-200: #feb2b2;
$Red-300: #fc8181;
$Red-400: #f56565;
$Red-500: #e53e3e;
$Red-600: #c53030;
$Red-700: #9b2c2c;
$Red-800: #822727;
$Red-900: #63171b;

// Orange
$Orange-050: #fffaf0;
$Orange-100: #feebc8;
$Orange-200: #fbd38d;
$Orange-300: #f6ad55;
$Orange-400: #ed8936;
$Orange-500: #dd6b20;
$Orange-600: #c05621;
$Orange-700: #9c4221;
$Orange-800: #7b341e;
$Orange-900: #652b19;

// Yellow
$Yellow-050: #fffff0;
$Yellow-100: #fefcbf;
$Yellow-200: #faf089;
$Yellow-300: #f6e05e;
$Yellow-400: #ecc94b;
$Yellow-500: #d69e2e;
$Yellow-600: #b7791f;
$Yellow-700: #975a16;
$Yellow-800: #744210;
$Yellow-900: #5f370e;

// Green
$Green-050: #f0fff4;
$Green-100: #c6f6d5;
$Green-200: #9ae6b4;
$Green-300: #68d391;
$Green-400: #48bb78;
$Green-500: #38a169;
$Green-600: #2f855a;
$Green-700: #276749;
$Green-800: #22543d;
$Green-900: #1c4532;

// Teal
$Teal-050: #e6fffa;
$Teal-100: #b2f5ea;
$Teal-200: #81e6d9;
$Teal-300: #4fd1c5;
$Teal-400: #38b2ac;
$Teal-500: #319795;
$Teal-600: #2c7a7b;
$Teal-700: #285e61;
$Teal-800: #234e52;
$Teal-900: #1d4044;

// Blue
$Blue-050: #ebf8ff;
$Blue-100: #bee3f8;
$Blue-200: #90cdf4;
$Blue-300: #63b3ed;
$Blue-400: #4299e1;
$Blue-500: #3182ce;
$Blue-600: #2b6cb0;
$Blue-700: #2c5282;
$Blue-800: #2a4365;
$Blue-900: #1a365d;

// Cyan
$Cyan-050: #edfdfd;
$Cyan-100: #c4f1f9;
$Cyan-200: #9decf9;
$Cyan-300: #76e4f7;
$Cyan-400: #0bc5ea;
$Cyan-500: #00b5d8;
$Cyan-600: #00a3c4;
$Cyan-700: #0987a0;
$Cyan-800: #086f83;
$Cyan-900: #065666;

// Purple
$Purple-050: #faf5ff;
$Purple-100: #e9d8fd;
$Purple-200: #d6bcfa;
$Purple-300: #b794f4;
$Purple-400: #9f7aea;
$Purple-500: #805ad5;
$Purple-600: #6b46c1;
$Purple-700: #553c9a;
$Purple-800: #44337a;
$Purple-900: #322659;

// Pink
$Pink-050: #fff5f7;
$Pink-100: #fed7e2;
$Pink-200: #fbb6ce;
$Pink-300: #f687b3;
$Pink-400: #ed64a6;
$Pink-500: #d53f8c;
$Pink-600: #b83280;
$Pink-700: #97266d;
$Pink-800: #702459;
$Pink-900: #521b41;
